html,
body,
#root {
  height: 100vh;
  margin: 0;
  /* stylelint-disable */
  font-family: 'Ubuntu', sans-serif;
  background-color: #f5f5f5;
}

#root {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}